@namespace SFR_Frontend.Client.Components

<label for="exampleDataList" class="form-label">Auto Complete Component</label>
<input class="form-control" list="datalistOptions" id="exampleDataList" @bind="searchTerm" @oninput="HandleInput" @onfocusout="HandleFocusLost" placeholder="Type to search...">
<datalist id="datalistOptions">
    @foreach(string item in AutoCompleteItems)
    {
        <option value="@item" />
    }
</datalist>

@code {
    private string searchTerm = string.Empty;

    [Parameter]
    public List<string> AutoCompleteItems { get; set; } = new();

    [Parameter]
    public EventCallback<string> OnSearchTermChanged { get; set; }

    [Parameter]
    public EventCallback<string> OnFocusLost { get; set; }

    protected override Task OnInitializedAsync()
    {
        return base.OnInitializedAsync();
    }

    private Task HandleInput(ChangeEventArgs e)
    {
        string? searchTerm = e?.Value?.ToString();

        Console.WriteLine("OnChanged");
        return OnSearchTermChanged.InvokeAsync(searchTerm);
    }

    private Task HandleFocusLost(FocusEventArgs e)
    {
        return OnFocusLost.InvokeAsync(searchTerm);
    }
}
